## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Kapaa,US,82.38,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,4,Geraldton,AU,70.21,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
2,5,Tondano,ID,77.09,scattered clouds,1.3038,124.9112,Villa Bella
3,6,Taseyevo,RU,76.10,broken clouds,57.2169,94.8978,Gostinitsa Taseyevo
4,7,Labuhan,ID,82.54,overcast clouds,-6.8844,112.2051,DoubleFAG
...,...,...,...,...,...,...,...,...
95,203,Luorong,CN,76.42,broken clouds,24.4058,109.6086,荣立大酒店
96,204,Joshimath,IN,65.71,broken clouds,30.5667,79.5667,Shivalik Camps & Resort
97,205,Clarence Town,AU,67.14,clear sky,-32.5833,151.7833,River Downs Cottage
98,206,Petropavlovka,RU,68.20,few clouds,50.6114,105.3196,Tuyaa
99,210,Adrar,MR,80.98,few clouds,20.5022,-10.0711,Hotel Touat

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Konongo']
vacation_end = vacation_df.loc[vacation_df['City']=='Konongo']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Katsina']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Yagoua'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Yenagoa']

#vacation_start

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.to_numpy()[0][5]), (vacation_start.to_numpy()[0][6]))
end = ((vacation_end.to_numpy()[0][5]), (vacation_end.to_numpy()[0][6]))
stop1 = ((vacation_stop1.to_numpy()[0][5]), (vacation_stop1.to_numpy()[0][6]))
stop2 = ((vacation_stop2.to_numpy()[0][5]), (vacation_stop2.to_numpy()[0][6]))
stop3 = ((vacation_stop3.to_numpy()[0][5]), (vacation_stop3.to_numpy()[0][6]))

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1, stop2, stop3]
directions = directions_layer = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode="WALKING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,293,Konongo,GH,72.95,broken clouds,6.6167,-1.2167,Alice Tee Hotel
1,310,Katsina,NG,79.70,clear sky,12.9894,7.6006,Katsina Motel
2,422,Yagoua,CM,80.73,overcast clouds,10.3411,15.2329,Sahel Hotel
3,148,Yenagoa,NG,76.48,broken clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa

In [17]:
# 9 Using the template add hotel name, city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))